<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/napAntikvarium/public/menu.css">
    <link rel="stylesheet" href="/napAntikvarium/public/termek.css">
    <link rel="stylesheet" href="/napAntikvarium/public/egyeb.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Kosár</title>

</head>
<body>
    <header>
        <div class="menu" id="menusav">
        
        </div>
    </header>

    <div id="tartalom">
        <div class="books" id="kosarItems">
        
        </div>
        
        <div >
            <div id="osszar"></div>
            <button id="megrendeles">Megrendelem!</button>
            <button id="emptyKosar">Kosár kiürítése</button>
        </div>
    </div>
    

    <script src="/napAntikvarium/public/javascripts/menu.js"></script>
    <script src="/napAntikvarium/public/javascripts/kosarContents.js"></script>
</body>
</html>