body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
}

#main{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#rolunk{
    margin-top: 5%;
    width: 70%;
    text-align: justify;
    margin-left: 12%;
    margin-right: 12%;
}
#b img{
    width: 100%;
}

#b{
    width: 50%;
    margin-left: 17%;
    margin-right: 12%;
    margin-bottom: 7%;
    justify-content: center;
  }


  @media only screen and (max-width: 600px) {
    #b{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #rolunk{
        margin-left: 15%;
        margin-right: 5%;
    }
  }

button{
    background-color: #561C24;
    color: #E8D8C4;
    border-radius: 10px;
    font-size: large;
    border: none;
    padding: 1%;
    margin-top: 5%;
    margin: auto;
}

button:hover{
background-color: #6D2932;
}

#tartalom{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}