*{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 80%;
}

#kep{
    float: left;
    width: 50%;
    /*padding: 5%;*/
    text-align: justify;

}
#book-details{
    float: left;
    width: 50%;
    padding: 5%;
    margin-bottom: 5%;
}

#content{
    display: flex;
    width: 100%;
}

#leiras{
    width: 80%;
    padding: 5%;
}

h2{
    color: #561C24;
    width: 100%;
}

a{
    color: black;
}

@media only screen and (max-width: 600px){
    body{
        margin-left: 5%;
        margin-right: 5%;
    }
    #kep{
        width: 100%;
        padding: 5%;
        align-content: center;
    }
    #book-details{
        width: 100%;
        padding: 5%;
    }
    #leiras{
        padding: 5%;
    }
    #content{
        position: absolute;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h2{
        text-align: center;
    }
    hr{
        width: 80%;
    }
}

.kartya {
    border: 2px solid #E8D8C4;
    width: 300px;
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    margin-top: 5%;
    text-align: center;
    box-shadow: 2px 3px #E8D8C4;
    border-radius: 10px;

}

#termekek{
    width: 80%;
    margin: 10%;
    display: flex;
    flex-direction: row;
    float: left;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-between;
}



a{
    text-decoration: none;
}

a:hover{
    color: #6D2932;
}

#kereso{
    margin-top: 0.5%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    background-color: #6D2932;
    width: 70%;
    padding: 2%;
}

#termekKep{
    height: 250px;
    max-width: 200px;
}

#kosar{
    background-color: #561C24;
    color: #E8D8C4;
    border-radius: 10px;
    font-size: large;
    border: none;
    padding: 2%;
}

#kosar:hover{
    background-color: #6D2932;
}

#kep img{
    max-width: 300px;
    margin-top: 10px;
}
