*{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 80%;
}

#kep{
    float: left;
    width: 50%;
    /*padding: 5%;*/
    width: fit-content;
}
#book-details{
    float: left;
    width: 50%;
    padding: 5%;
    margin-bottom: 5%;
}

#content{
    display: flex;
    width: 100%;
}

#leiras{
    width: 100%;
    padding: 5%;
}

h2{
    color: #561C24;
    width: 100%;
}

@media only screen and (max-width: 600px){
    body{
        margin-left: 5%;
        margin-right: 5%;
    }
    #kep{
        width: 100%;
        padding: 5%;
        align-content: center;
    }
    #book-details{
        width: 100%;
        padding: 5%;
    }
    #leiras{
        padding: 5%;
    }
    #content{
        position: absolute;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h2{
        text-align: center;
    }
    hr{
        width: 80%;
    }
}