<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felhasználó oldal</title>
    <link rel="stylesheet" href="/1017projekt/public/felhasznalo.css">
    <link rel="stylesheet" href="/1017projekt/public/menu.css">
    <link rel="stylesheet" href="/1017projekt/public/egyeb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <div class="menu" id="menusav">

    </div>
  </header>

    <div class="bg-text">
      <h1 id="numOfUsers" name="numOfUsers"> Felhasználó adatok</h1>
      <div id="userDataTable">
        <div id="userEmail">e-mail: </div>
        <div id="userZipCode">
          <div id="userZipCodeLine">irányítószám: </div>
        </div>
        <div id="userStreet">
          <div id="userStreetLine">utca: </div>
        </div>
        <div id="userAddress">
          <div id="userAddressLine">házszám: </div>
        </div>
      </div>
    </div>

    <!-- <div class="bg-text">
      <h1 id="numOfUsers" name="numOfUsers"> Felhasználó adatok</h1>
        <table id="userDataTable">
            <tr>
              <th>
                <ol id="userEmail">e-mail:</ol>
                <div id="userZipCode">
                  <ol id="userZipCodeLine">irányítószám:</ol> 
                </div>
                <div id="userStreet">
                  <ol id="userStreetLine">utca:</ol>
                </div>
                <div id="userAddress">
                  <ol id="userAddressLine">házszám:</ol>
                </div>
            </th>
          </tr>
        </table>
      </div> -->
      <script src="/1017projekt/public/javascripts/userData.js"></script>
      <script src="/1017projekt/public/javascripts/menu.js"></script>
</body>
</html>