<!DOCTYPE html> 
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nap antikvárium</title>
    <link rel="stylesheet" href="/1017projekt/public/menu.css">
    <link rel="stylesheet" href="/1017projekt/public/termek.css">
    <link rel="stylesheet" href="/1017projekt/public/egyeb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="menu" id="menusav">
        
        </div>
    </header>
    <div id="main">
        <p id="rolunk">
            Antikváriumunk 2024 szeptemberében nyílt meg. Hárman vezetjük és folyamatosan frissítjük a használt könyvek és CD-k repertoárját. Sokkal inkább környezetbarát és költséghatékony antikváriumban megvásárolni a termékeket, és ezen a gondolaton kiindulva döntöttünk a Nap antikvárium megnyitása mellett. A weboldalunkon kívül megtalálhatnak a kedves nézelődők Budapesten a Napsugár út 1.-es szám alatt. 
            Szeretettel várjuk a betévedőket hétfőtől péntekig reggel 9 órától 19 óráig.

        </p>

        <div id="b">
            <img src="fooldalrakep.jpg">
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Nap Antikvárium. Minden jog fenntartva.</p>
        <p>Email:napantikvarium@gmail.com</p>
        <p>Telefon: +36202613018</p>
    </footer>
    <script src="/1017projekt/public/javascripts/menu.js"></script>
</body>
</html>