<!DOCTYPE html> 
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nap antikvárium</title>
    <link rel="stylesheet" href="/1017projekt/public/menu.css">
    <link rel="stylesheet" href="/1017projekt/public/termek.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
    <div class="menu" id="menusav">
        <a href="/1017projekt/views/fooldal.html" class="active">Nap antikvárium</a>
        <a href="/1017projekt/views/Konyvkereso.html">könyvek</a>
        <a href="/1017projekt/views/Filmkereso.html">cd/dvd</a>
        <a href="/1017projekt/views/kapcsolat.html">kapcsolat</a>
        <a href="/1017projekt/views/felhasznalo.html">Felhasználó</a>
        <a href="/1017projekt/views/regisztracio.html" id="logOut">kijelentkezés</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
    </header>
        <p id="rolunk">
            Antikváriumunk 2024 szeptemberében nyílt meg. Hárman vezetjük és folyamatosan frissítjük a használt könyvek és CD-k repertoárját. Sokkal inkább környezetbarát és költséghatékony antikváriumban megvásárolni a termékeket, és ezen a gondolaton kiindulva döntöttünk a Nap antikvárium megnyitása mellett. A weboldalunkon kívül megtalálhatnak a kedves nézelődők Budapesten a Napsugár út 1.-es szám alatt. 
            Szeretettel várjuk a betévedőket hétfőtől péntekig reggel 9 órától 19 óráig.

        </p>
    <footer>
        <p>&copy; 2024 Könyvesbolt. Minden jog fenntartva.</p>
        <p>Email: info@konyvesbolt.hu</p>
        <p>Telefon: +36 1 234 5678</p>
    </footer>
    <script src="/1017projekt/public/javascripts/responsivity.js"></script>
</body>
</html>