<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/1017projekt/public/kapcsolat.css">
    <link rel="stylesheet" href="/1017projekt/public/menu.css">
    <link rel="stylesheet" href="/1017projekt/public/egyeb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Kapcsolat</title>
</head>
<body>
    <header>
        <div class="menu" id="menusav">

        </div>
      </header>

    <div class="btext">
        <h1 id="numOfUsers" name="numOfUsers"> Elérhetőségeink</h1>
    

      <div id="main">
        <div>
          <div id="cim">Cím: Budapest Napsugár út 1.</div>
          <div id="tel">Telefonszám: +36202613018</div>
          <div id="email">Email cím: napantikvarium@gmail.com</div>
        </div>
        
        <div id="nyitvatartas">Nyitvatartás:
          <ul>
            <li>Hétfő: 7:00-19:00</li>
            <li>Kedd: 7:00-19:00</li>
            <li>Szerda: 7:00-19:00</li>
            <li>Csütörtök: 7:00-19:00</li>
            <li>Péntek: 7:00-19:00</li>
            <li>Szombat: ZÁRVA </li>
            <li>Vasárnap: ZÁRVA </li>
          </ul>
        </div>
      </div>
    </div>
      <script src="/1017projekt/public/javascripts/menu.js"></script>
</body>
</html>