<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/1017projekt/public/kapcsolat.css">
    <link rel="stylesheet" href="/1017projekt/public/menu.css">
    <link rel="stylesheet" href="/1017projekt/public/termek.css">
    <title>Kapcsolat</title>
</head>
<body>
    <header>
        <div class="menu" id="menusav">
                <a href="/1017projekt/views/fooldal.html" class="active">Nap Antikvárium</a>
                <a href="/1017projekt/views/konyvek.html">Könyvek</a>
                <a href="#cds">cd/dvd</a>
                <a href="/1017projekt/views/felhasznalo.html">Felhasználó</a>
                <a href="/1017projekt/views/regisztracio.html" id="logOut">Kijelentkezés</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
              </div>
        </header>

    <div class="btext">
        <h1 id="numOfUsers" name="numOfUsers"> Elérhetőségeink</h1>
        <table>
            <tr>
              <th><a>Cím: Budapesten a Napsugár út 1.</a></th>
                <th>Telefonszám: +36202613018</th> 
                <th>Email cím: napantikvarium@gmail.com</th>
                <th>Nyitvatartás:
                    <ul>
                    <li>Hétfő: 7:00-19:00</li>
                    <li>Kedd: 7:00-19:00</li>
                    <li>Szerda: 7:00-19:00</li>
                    <li>Csütörtök: 7:00-19:00</li>
                    <li>Péntek: 7:00-19:00</li>
                    <li>Szombat: ZÁRVA </li>
                    <li>Vasárnap: ZÁRVA </li>

                    </ul>
                
            </tr>
        </table>
      </div>
</body>
</html>