<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/1017projekt/public/menu.css">
    <link rel="stylesheet" href="/1017projekt/public/termek.css">
    <link rel="stylesheet" href="/1017projekt/public/egyeb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="menu" id="menusav">
        
        </div>
    </header>

    <div class="books" id="kosarItems">

    </div>

    <script src="/1017projekt/public/javascripts/menu.js"></script>
    <script src="/1017projekt/public/javascripts/kosarContents.js"></script>
</body>
</html>