<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/1017projekt/public/regisztracio.css">
    <title>Nap Antikvárium</title>
    <style>
        .registrationForm{
            display: none;
        }
        .loginForm{
            display: none;
        }
    </style>
    
</head>
<body>
    <button id="registrationButton">Regisztrálás</button>
    <button id="loginButton">Bejelentkezés</button>

    <h3 class="registerPageTitleText" id="registerPageTitleText"></h3>
    
    <!-- Regisztrálás -->
    <form class="registrationForm" id="registrationForm">
        <h4>email</h4>
        <input type="text" id="email" name="email">
        <br>
        <br>
        <h4>jelszó</h4>
        <input type="password" id="password" name="password">
        <br>
        <br>
        <h4>jelszó mégegyszer</h4>
        <input type="password" id="passwordAgain" name="passwordAgain">
        <input type="hidden" id="hiddenInputRegistration" name="hiddenInput" value=""> <br>
        <button id="submitDataRegist" name="submitDataRegist">Küldés</button>
    </form>
    
    <!-- Bejelentkezés -->
    <form class="loginForm" id="loginForm">
        <h4>email</h4>
        <input type="text" id="loginEmail" name="loginEmail">
        <br>
        <br>
        <h4>jelszó</h4>
        <input type="password" id="loginPassword" name="loginPassword">
        <input type="hidden" id="hiddenInputLogin" name="hiddenInput" value=""> <br>
        <button id="submitDataLogin" name="submitDataLogin">Küldés</button>
    </form>

    <script src="/1017projekt/public/javascripts/registLoginSwitch.js"></script>
    <script src="/1017projekt/public/javascripts/registrationLoginData.js"></script>
</body>
</html>