<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termékleírás</title>
    <link rel="stylesheet" href="/1017projekt/public/menu.css">
    <link rel="stylesheet" href="/1017projekt/public/termek.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="menu" id="menusav">

        </div>
    </header>
    <br>
    <h2 id="cim"></h2>
    <div id="content">     
        <div id="kep">
            <img src="" alt="Könyv címe" id="productPicture"> <br>
            <button id="kosar">Kosárba</button>
            <br>
            <label>Mennyiség:</label>
            <input type="text" id="itemAmount">
            <h3>Leírás:</h3>
            <p id="leiras"></p>
        </div>     
        <section id="book-details">      
            <p id="szerzo"><strong>Szerző: </strong> </p> <hr>
            <p id="kiado"><strong>Kiadó: </strong> </p> <hr>
            <p id="megjelenes"><strong>Kiadás éve:</strong> </p> <hr>
            <p id="allapot"><strong>Állapot:</strong> </p> <hr>
            <p id="nyelv"><strong>Nyelv:</strong> </p> <hr>
            <p id="hossz"><strong>Hossz:</strong> </p> <hr>
            <p id="borito"><strong>Borító:</strong> </p> <hr>
            <p id="meret"><strong>Méret:</strong> </p> <hr>
            <p id="ar"><strong>Ár:</strong> </p> <hr>
        </section>
    </div>
    <script src="/1017projekt/public/javascripts/termekAdat.js"></script>
    <script src="/1017projekt/public/javascripts/intoKosar.js"></script>
    <script src="/1017projekt/public/javascripts/menu.js"></script>
</body>
</html>